electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true
registry=https://registry.npmmirror.com
vue_mirror=https://npmmirror.com/mirrors/vue/
vue_cli_mirror=https://npmmirror.com/mirrors/@vue/cli/
vuex_mirror=https://npmmirror.com/mirrors/vuex/
axios_mirror=https://npmmirror.com/mirrors/axios/
element_ui_mirror=https://npmmirror.com/mirrors/element-ui/
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://cdn.npmmirror.com/binaries/sharp-libvips
